<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="io.grpc.netty" level="INFO"/>
    <logger name="io.temporal.internal.worker.WorkflowExecutorCache" level="TRACE"/><!-- specific log for non-deterministic errors -->
    <logger name="io.temporal.internal" level="INFO"/>
    <logger name="io.temporal.serviceclient" level="INFO"/>
    <logger name="io.temporal.internal.replay.ReplayWorkflowTaskHandler" level="INFO"/> <!-- set to debug for replay logs -->
    <root level="ALL"><!-- set to ALL to see non-deterministic errors -->
        <appender-ref ref="STDOUT" />
    </root>
</configuration>